*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.content1 {
    background-image: url('Header-llustration-desktop.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.intro1,
.intro2 {
color: #172b4d;
font-size: 40px;
font-weight: 700;
}

.career {
color: #36b37e;
font-size: 40px;
font-weight: 700;
margin-top: 30px;
}

.social ul li {
margin: 0 4px;
}

.headline {
padding: 80px 0;
}

.next-page {
margin-top: 50px;
margin-bottom: 100px;
}